*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* COMMON */

.orange-bt{
    background-color: orange;
}

.flex{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
.container{
    width: 400px;
    height: 600px;
    background-color: lightgray;
    margin: 300px auto;
    border-radius: 25px;
}

.calc-header{
    justify-content: center;
    display: flex;
    
}

.display-container{
    display: flex;
    justify-content: center;

    
}

.display{
    display: flex;
    background-color: black;
    height: 80px;
    width: 100%;

    
}

.text{
    display: flex;
    color: greenyellow;
}

.num-buttons{
    height: 70%;
    width: 70%;
    
    
}

.number{
    background-color: brown;
    width: 80px;
    height: 80px;
    margin: 10px auto;
   
    
}

.calc-buttons{
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
}


